// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
  height:1500px;
}

// Custom!

.special-text{
  font-weight: 700;
  color:$spectrum-orange;
}

%call{
  text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px!important;
}

.call-lightblue{
  @extend %call;
  color:$spectrum-lightblue;
}
.call-darkblue{
  @extend %call;
  color:$spectrum-darkblue;
}

.email-header{
  & .first{
  padding-right: 0px !important;
  padding-left: 0px !important;
  @media only screen and (max-width:#{$global-breakpoint}){
    padding-right: 0px !important;
    padding-left: 0px !important;
    }
  }
  .columns{
    padding-right: 0px !important;
    padding-left: 0px !important;
    }
    
  }
.see-deals{
  background: $spectrum-darkblue;
  background-color: $spectrum-darkblue;
  .columns{
    padding-top: 25px;
    padding-bottom: 30px;
  }
  p{
    text-transform: uppercase;
    color:$spectrum-lightblue;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px!important;
  }
}
.sub-header{
  .columns{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  h3{
    color: $spectrum-lightblue;
    margin-bottom: 0px;
    @media only screen and (max-width:#{$global-breakpoint}){
      font-size: 18px !important;
    }
  }
}
.streaming-channels{
  background: $spectrum-darkblue;
  background-color: $spectrum-darkblue;
  .columns{
    padding-top: 0px;
    padding-bottom: 20px;
  }
  h4{
    color:white;
    line-height: 1.3;
    @media only screen and (max-width:#{$global-breakpoint}){
      font-size: 1.6rem !important;
    }
  }
}
.spectrum-app{
  .spectrum-app-container{
    padding-left: 24px !important;
    padding-right: 15px !important;
    .spectrum-app__left-col, .spectrum-app__right-col{
      @media only screen and (max-width:#{$global-breakpoint}) {
      display: block !important;
      width:100% !important;
      }
    }
  }
    .left-container{
      outline: 1px solid red;
      h4{
        color: $spectrum-lightblue;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 20px;
        line-height: 1.2;
      }
      h4,p{
        @media only screen and (max-width:#{$global-breakpoint}){
          text-align: center !important;
        }
      }
      img{
        @media only screen and (max-width:#{$global-breakpoint}){
          margin: 0 auto;
        }
      }
    }
    .right-container{
      & table > tbody > tr > th{
      }
      outline: 1px solid blue;
      img{
        @media only screen and (max-width:#{$global-breakpoint}){
          margin: 0 auto;
        }
      }
    }
    
  }
  

.testing{
  .test-left{
    @media only screen and (max-width:#{$global-breakpoint}){
      display: block !important;
      width:100% !important
    }
  }
  .test-right{
    @media only screen and (max-width:#{$global-breakpoint}){
      display: block !important;
      width:100% !important
    }
  }
}

.footer{
  background:#EFEFEF;
  background-color:#EFEFEF ;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

