<container class="spectrum-footer">
    <row class="footer">
        <columns large="4" small="12" class="spectrum-logo__container">
            <a href="#"><img src="{{root}}assets/img/spectrum-grey.png" alt="Spectrum"></a>
        </columns>
        <columns large="3" small="12" class="social-icons__container">
            <row class="social-icons" >
                <columns small="2"><a href="#"><img src="{{root}}/assets/img/facebook.png" alt="Visit our Facebook" title="Visit our Facebook"></a></columns>
                <columns small="2"><a href="#"><img src="{{root}}/assets/img/twitter.png" alt="Visit our Twitter" title="Visit our Twitter"></a></columns>
                <columns small="2"><a href="#"><img src="{{root}}/assets/img/instagram.png" alt="Visit our Instragram" title="Visit our Instragram"></a></columns>
                <columns small="2"><a href="#"><img src="{{root}}/assets/img/youtube.png" alt="Visit our Youtube" title="Visit our Youtube"></a></columns>
            </row>
        </columns>
    </row>
    <row class="privacy-text">
        <columns>
            <p>{{spectrumData.privacyText}}</p>
        </columns>
    </row>
    <row class="footer-links">
        <columns class="footer-links__container">
            <a href="#">View Online</a><span class="divider">|</span>
            <a href="#">Unsubscribe</a><span class="divider">|</span>
            <a href="#">Privacy Policy</a>
        </columns>
    </row>
    <row class="copyright">
        <columns class="copyright-container">
        <p>{{spectrumData.copyrightText}}</p>
        </columns>
    </row>
</container>
<container class="maurice">
    <row class="maurice-footer">
        <columns class="maurice-footer__container" large="1" class="text-center">
            <p>Created by Maurice Chevez</p>
            <center><button class="tiny" href="https://github.com/mauricechevez/spectrum-email-mockup" target="_blank"><b>View Code on Github</b></button></center>
        </columns>
    </row>
</container>
